# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Environment files
.env
.env.*.local

# Playwright browser caches & reports
node_modules/.cache/
playwright-report/
test-results/

# Optional npm cache
.npm

# build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.tgz
